
{% extends 'base.html' %}

{% block title %}Add Note{% endblock %}

{% block content %}
    <form action="/add_note" method="POST">
        <!-- we are POSTing our note data to 'add_note' route whenever we submit the form -->
        <!-- note title -->
        {{ notes_form.title.label }} {{ notes_form.title }} 
        <!-- note content -->
        {{ notes_form.content.label }} 
        {{ notes_form.content }}
        <!-- 'add note' button -->
        {{ notes_form.submit_button }}
    </form>
{% endblock %}