
<!-- all other templates should inherit from here -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
</head>
<body>

    <!-- site navbar -->
    <nav class="navbar">
        <ol>
            <li class="navbar-link"><a href="{{url_for("index")}}">Home</a></li>
            <li class="navbar-link"><a href="{{url_for("add_note")}}">Add Note</a></li>
        </ol>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>