
{% extends 'base.html' %} 

{% block title %}<title>Home Page</title>{% endblock %}

{% block content %}

    <!-- home page content -->
    <h3>The notes app of tomorrow - available today!</h3>
    <p>
        Whether you want to keep an online diary, keep a list of errands/reminders, or note down 
        the latest news stories, Saima's notes app has you covered! 
    </p>
    <h5>Current Features: </h5>
    <ul>
        <li>Home Page</li>
        <li>Functional 'Add Note' Page</li>
    </ul>
    <h5>Upcoming Features: </h5>
    <ul>
        <li>CRUD functionality for notes (create/read/update/delete)
            <ul> 
                <li><strike>'add note' page</strike></li>
                <li>'read note' page</li>
                <li>'edit note' page</li>
                <li>'delete note' page</li>
            </ul>
        </li>
        <li>user login/registration system so that each site user can have their own set of notes 
            (such as a secure online diary)</li>
    </ul>
    <button>
        <a href="{{url_for("add_note")}}">Add a Note!</a>
    </button>

    <br>
    <br>

    <!-- list of notes -->
    
    <table class="table table-bordered table-striped">
        <caption>List of all notes</caption>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Date Created</th>
                <th scope="col">Content</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{note.title}}</td>
                    <td>{{note.date_created.date()}}</td>
                    <td>{{note.content}}</td>
                    <td>
                        <a href="#">Delete</a>
                        <br>
                        <a href="#">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}