
{% extends 'base.html' %} 

{% block title %}<title>Home Page</title>{% endblock %}

{% block content %}
    <h3>The notes app of tomorrow - available today!</h3>
    <p>
        Whether you want to keep an online diary, keep a list of errands/reminders, or note down 
        the latest news stories, Saima's notes app has you covered! 
    </p>
    <h5>Current Features: </h5>
    <ul>
        <li>Home Page</li>
        <li>Functional 'Add Note' Page</li>
    </ul>
    <h5>Upcoming Features: </h5>
    <ul>
        <li>CRUD functionality for notes (create/read/update/delete)
            <ul> 
                <li><strike>'add note' page</strike></li>
                <li>'read note' page</li>
                <li>'edit note' page</li>
                <li>'delete note' page</li>
            </ul>
        </li>
        <li>user login/registration system so that each site user can have their own set of notes 
            (such as a secure online diary)</li>
    </ul>
    <button>
        <a href="{{url_for("add_note")}}">Add a Note!</a>
    </button>
{% endblock %}